env/
node_modules/
*.mp3
*.mp4
*.txt
*.mkv
*.opus
*.stackdump
*.part
.env
build

add-music-to-playlist.ipynb
pm2.sh

dumps/*.mp4
dumps/*.tmp
dumps/*.part
dumps/*.ytdl
dumps/twitch-chat/*.json
dumps/audio-spike-graph/*.png
app/
coverage/

client_secret.json
youtube-oauth2.json